body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.6s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: toRem(30) toRem(10);
	transition: opacity .3s ease 0s;
	opacity: 0;
	pointer-events: none;
	&.popup-msg {
		
	}
	// .popup__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__content
	&__content {
		visibility: hidden;
		transform: translateY(10%);
		transition: transform 0.3s ease 0s;
		background-color: #eee;
		padding: toRem(20);
		width: 100%;
		max-width: toRem(900);
		border-radius: toRem(10);
		position: relative;
		.popup-form & {
			max-width: toRem(700);
			@include adaptiveValue("padding", 50, 20);
		}
		.popup-msg & {
			max-width: toRem(500);
			padding: toRem(50) toRem(50) toRem(50);
		}
		.lock & {
			visibility: visible;
		}
	}
	// .popup__close
	&__close {
		position: absolute;
		top: toRem(10);
		right: toRem(10);
		width: toRem(30);
		height: toRem(30);
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: toRem(20);
			height: auto;
		}
	}
}

.popup_show {
	z-index: 150;
	opacity: 1;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	transform: translateY(0);
}


.popup-msg {
	// .popup-msg__text
	&__text {
		text-align: center;
		line-height: normal;
	}
	// .popup-msg__title
	&__title {
		color: #000;
		font-weight: 700;
		@include adaptiveValue("font-size", 36, 24);
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}
	// .popup-msg__txt
	&__txt {
		@include adaptiveValue("font-size", 22, 18);
	}
}

.popup-form {
	// .popup-form__form
	&__form {
	}
}
