.btn {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  
  padding: 0 toRem(20);
  height: toRem(42);
  border: toRem(1) solid transparent;
  
  font-size: toRem(14);
  font-weight: 700;
  text-transform: uppercase;
  
  transition: color .3s ease, background-color .3s ease, border-color .3s ease, opacity .45s ease, transform .45s ease;

  @media (max-width:$mobileSmall){
     height: toRem(50); 
     font-size: toRem(16);
  }
  
  &--01 {
    background-color: $yellowMain;
    color: #000;
    @media (any-hover: hover){
      &:hover{
        color: white;
        // background-color: #b3a042;
        background-color: #000;
        border-color: white;
      }
    }
  }
  &--02 {
    background-color: #000;
    color: white;
    @media (any-hover: hover){
      &:hover{
        color: #000;
        background-color:$yellowMain;
        // background-color: #000;
        border-color: #000;
      }
    }
  }
  &--03 {
    background-color: white;
    color: $green;
    border-color: $green;
    @media (any-hover: hover){
      &:hover{
        color: white;
        background-color: #000;
        border-color: white;
      }
    }
  }
  &--04 {
    background-color: $green;
    color: white;
    border-color: $green;
    @media (any-hover: hover){
      &:hover{
        color: #000;
        background-color: white;
        border-color: #000;
      }
    }
  }
}

.main-title {
  font-family: "Playfair Display";
  @include adaptiveValue("font-size", 48, 36,0,1920,375);
  font-weight: 800;
  line-height: 1.2;
  text-transform: capitalize;
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 50, 20);
  }
  &--black {
    color: $blackBg;
  }
}

.title-sub {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: toRem(5);
  &::before {
    content:'-';
  }  
}

.bg-acc {
  background-color: #eef4f2;
}

.line-after {
  @media (min-width:$mobileSmall){
    position: relative; 
    &::after {
      content:'';
      position: absolute;
      left: 0;
      @include adaptiveValue("bottom", -20,-10);
      width: 30%;
      height: toRem(2);
      background-color: $green;
    }
  }
}

%animLines {
  @media (min-width:$mobile){
    position: relative;
    &.active {
      &::before {
        background-color: $green;
      }
    }
    &::before {
      content: '';
      position: absolute;
      bottom: toRem(-2);
      left: 0;
      display: block;
      width: 100%;
      height: toRem(1);
      background-color: white;
      transform: scale(0, 1);
      transform-origin: 100% 50%;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  @media (any-hover: hover){
    &:hover{
      &::before {
        transform: scale(1);
        transform-origin: 0 50%;
      }
    }
  }
}

%sectionPadding {
  @include adaptiveValue("padding-top", 100, 50);
  @include adaptiveValue("padding-bottom", 100, 50);
}


.sub-head {
  background-color: #000;
  padding-bottom: toRem(35);
  @media (min-width:toEm(900.98)){
      padding-top: toRem(120);
  }
  @media (max-width: toEm(900.98)){
      padding-top: toRem(100);
  }
  // .sub-head__container
  &__container {
  }
  // .sub-head__title
  &__title {
    color: white;
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: toRem(15) !important;
    }
  }
  // .sub-head__subtitle
  &__subtitle {
    @include adaptiveValue("margin-left", 27, 23,0,1920,375);
    @include adaptiveValue("font-size", 30, 18);
    @media (min-width:$mobileSmall){
      text-transform: capitalize;
    }
    @media (max-width:$mobileSmall){
       text-transform: uppercase; 
    }
  }
}