.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  color: #fff;
  padding: toRem(10) 0;
  transition: min-height .45s ease, background-color .45s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  
  display: flex;
  align-items: center;
  background-color: $blackBg;
  .home-page & {
    background-color: transparent;
  }
  &._header-scroll {
    @media (min-width:toEm(900.98)){
      background-color: $blackBg !important;
      // min-height: toRem(66);
    }
  }
  // @media (min-width:toEm(900.98)){
  //   min-height: toRem(100);
  // }

  @media (max-width:toEm(900.98)){
    background-color: #000 !important;
  }
  // .header__container
  &__container {
    width: 100%;
    display: grid;
    align-items: center;
    gap: toRem(20);
    grid-template-columns: auto 1fr auto; 
    // @media (max-width:toEm(900.98)){
    //    grid-template-columns: auto 1fr auto auto; 
    //    gap: toRem(30);
    // }
  }
  // .header__logo
  &__logo {
    display: flex;
    align-items: flex-end;
    align-self: baseline;
    span {
      display: inline-block;
      font-size: toRem(27);
      font-weight: 700;
      letter-spacing: toRem(-1);
      line-height: 0.7;
    }
    img {
      width: toRem(30);
      height: auto;
    }
  }
  // .header__menu
  &__menu {
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
    @media (max-width: toEm(900.98)) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
      opacity: 0;
      pointer-events: none;
      background-color: #000;
			overflow: auto;
			padding: toRem(50) toRem(15) toRem(15) toRem(30);
			transition: opacity 0.3s;

      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: toRem(60);
			.menu-open & {
        opacity: 1;
        pointer-events: all;
			}
		}
  }
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    @media (min-width:toEm(900.98)){
      flex-wrap: wrap;
      gap: toRem(20);
    }
    @media (max-width:toEm(900.98)){
       flex-direction: column; 
       gap: toRem(40);
    }
  }
  // .menu__item
  &__item {
    @media (max-width:toEm(900.98)){
       overflow: hidden; 
    }
  }
  // .menu__link
  &__link {
    text-transform: uppercase;
    font-weight: 600;
    @extend %animLines;
    @media (min-width:toEm(900.98)){
        &.active {
          color: $green;
        }
    }
    @media (max-width:toEm(900.98)){
       font-size: toRem(22); 
       transition: transform .45s ease;
       transform: translateY(100%);
       .menu-open & {
        transform: translateY(0);
       }
    }
  }
  // .menu__button
  &__button {
    @media (max-width: toEm(900.98)) {
      height: toRem(50);
      font-size: toRem(18);
      opacity: 0;
      transform: translateY(50%);
      .menu-open & {
        opacity: 1;
        transform: translateY(0);
        transition-delay: .15s;
      }
    }
  }
}



//Burger Icon
.icon-menu {
	display: none;
	@media (max-width: toEm(900.98)) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: white;
      will-change: transform;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
