.hero {
  min-height: 100vh;
  min-height: 100svh;
  position: relative;
  z-index: 2;
  padding-top: toRem(100);
  @include adaptiveValue("padding-bottom", 100, 50);
  display: flex;
  align-items: center;
  // .hero__bg
  &__bg {
    overflow: hidden;
    position: absolute;
    inset: 0;
    z-index: 0;
    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.35);
    }
  }
	// .hero__img
	&__img {
    position: relative;
    z-index: 1;
    filter: contrast(0.5);
    aspect-ratio: 1920/1080;
	}
	// .hero__container
	&__container {
    position: relative;
    z-index: 2;
	}
	// .hero__title
	&__title {
    color: white;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: toRem(-25);
      height: toRem(2);
      width: 30%;
      background-color: white;
    }
    @media (min-width:$mobileSmall){
      width: 70%;
    }
	}
}

// ==========
// ====================
// ============================================
.about {
  @extend %sectionPadding;
  // .about__container
  &__container {
  }
  // .about__wrapper
  &__wrapper {
    display: grid;
    @include adaptiveValue("gap", 40, 20);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 50);
    }
    @media (min-width:$tablet){
      grid-template-columns: 55% 1fr;
    }
    @media (max-width:$tablet) and (min-width:toEm(650.98) ){
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .about__wrapper--revers
  &__wrapper--revers {
    @media (min-width:$tablet){
      grid-template-columns: 1fr 55%;
    }
  
    .about__body {
      @media (min-width:toEm(650.98)){
        order: 1;
      }
    }
    .about__img {
      @media (min-width:toEm(650.98)){
        order: 2;
      }
    }
  }
  // .about__img
  &__img {
  }
  // .about__body
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // .about__txt
  &__txt {
    line-height: 1.5;
    @include adaptiveValue("font-size", 20, 16);
  }
}

// ==========
// ====================
// ============================================
.deliver {
  @extend %sectionPadding;
  // .deliver__container
  &__container {
  }
  // .deliver__title
  &__title {
  }
  // .deliver__body
  &__body {
    display: grid;
    @include adaptiveValue("gap", 100, 20);
    @media (min-width:$mobile){
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }
  // .deliver__left
  &__left {
    display: grid;
    grid-template-columns: auto 1fr;
    @include adaptiveValue("gap", 30, 10);
    position: relative;
    z-index: 2;
    height: fit-content;
  }
	// .deliver__ic
	&__ic {
  }
	// .deliver__bg
	&__bg {
    @media (min-width:$mobile){
      position: absolute;
      top: 50%;
      left: toRem(-20);
      transform: translateY(-50%);
      z-index: -1;
      fill: #d6e5e0;
    }
    @media (max-width:$mobile){
       display: none; 
    }
	}
	// .deliver__wrapper
	&__wrapper {
	}
  // .deliver__num
  &__num {
    @include adaptiveValue("font-size", 65, 48);
    color: #19632e;
    margin-bottom: toRem(10);
    font-weight: 700;
  }
  // .deliver__num-txt
  &__num-txt {
    color: #19632e;
    font-weight: 700;
    @include adaptiveValue("font-size", 24, 20);
  }
  // .deliver__right
  &__right {
  }
  // .deliver__txt
  &__txt {
    line-height: 1.5;
    @include adaptiveValue("font-size", 20, 16);
  }
}


// ==========
// ====================
// ============================================
.pricing {
  background-color: #e1e1e1;
  // .pricing__container
  &__container {
    padding-top: toRem(50);
    padding-bottom: toRem(50);
  }
  // .pricing__list
  &__list {
    display: grid;
    @include adaptiveValue("gap", 20, 10);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
    @media (min-width:$mobile){
      grid-template-columns: repeat(3,1fr);
    }
    @media (max-width:$mobile) and (min-width:$mobileSmall){
      grid-template-columns: repeat(2,1fr);        
    }
  }
  // .pricing__item
  &__item {
  }
    // .pricing__checkout
    &__checkout {
    }
}

.item-pricing {
  @include adaptiveValue("padding-left", 20, 15);
  @include adaptiveValue("padding-right", 20, 15);
  @include adaptiveValue("padding-bottom", 30, 15);
  @include adaptiveValue("padding-top", 30, 15);
  border-radius: toRem(6);
  border: toRem(2) solid white;
  background: #f5f5f5;
  
  &:nth-child(1) {
    .item-pricing__price {
      border-color: $yellowMain;
    }
  }
  &:nth-child(2) {
    .item-pricing__price {
      border-color: #000;
    }
  }
  &:nth-child(3) {
    .item-pricing__price {
      border-color: $green;
    }
  }
  @media (min-width:$mobileSmall){
    display: flex;
    flex-direction: column;
  }
  // .item-pricing__title
  &__title {
    color: #000;
    font-family: "Playfair Display";
    @include adaptiveValue("font-size", 36, 28,0,1920,375);
    text-transform: capitalize;
    margin-bottom: toRem(5);
    font-weight: 700;
    @media (min-width:$mobileSmall){
      position: relative;
      &::before {
        content: '';
        position: absolute;
        bottom: toRem(-8);
        left: 0;
        width: 20%;
        height: toRem(1);
        background-color: #000;

      }
    }
    @media (max-width:$mobileSmall){
      text-align: center;        
    }
  }
	// .item-pricing__price
	&__price {
    color: #000;
    font-family: "Playfair Display";
    @include adaptiveValue("font-size", 48, 36);
    font-weight: 700;
    text-align: center;
    padding-bottom: toRem(25);
    border-bottom: toRem(3) solid #000;
    margin-bottom: toRem(20);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .price {
      line-height: normal
    }
    .month {
      @include adaptiveValue("font-size", 28, 18);
    }
    .dollar {
      font-family: initial;
      @include adaptiveValue("font-size", 40, 24);
    }
	}
  // .item-pricing__subtitle
  &__subtitle {
    line-height: 1.1;
    @include adaptiveValue("font-size", 16, 14);
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
  }
  // .item-pricing__sublist
  &__sublist {
    margin-bottom: toRem(30);
    @media (min-width:$mobileSmall){
       flex: 1; 
    }
  }
  // .item-pricing__subitem
  &__subitem {
    position: relative;
    padding-left: toRem(25);
      &::before {
        content: '';
        position: absolute;
        top: toRem(5);
        left: toRem(5);
        width: toRem(6);
        height: toRem(6);
        border-radius: 50%;
        background-color: $mainColor;
        flex: 0 0 auto;
      }
      p {
        line-height: 1.2;
      }
    &:not(:last-child) {
      margin-bottom: toRem(5);
    }
  }
	// .item-pricing__button
	&__button {
	}
}

.checkout {
  @include adaptiveValue("padding", 20, 15);
  background-color: $blackBg;
  border-radius: toRem(6);
  border: toRem(1) solid white;
  color: white;
  @media (min-width:$mobile){
    width: 100%;
    max-width: toRem(585);
    margin: 0 auto;
  }
  // .checkout__licenses
  &__licenses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toRem(25);
  }
  // .checkout__lic-title
  &__lic-title {
  }
  // .checkout__count
  &__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toRem(12);
    &.total {
      margin-bottom: toRem(25);
    }
  }
  // .checkout__count-txt
  &__count-txt {
    .total & {
      font-size: toRem(22);
      font-weight: 700;
    }
  }
  // .checkout__num
  &__num {
    .total & {
      font-size: toRem(22);
      font-weight: 700;
    }
  }
  // .checkout__checkbox
  &__checkbox {
  }
	// .checkout__button
	&__button {
    margin-bottom: toRem(15);
	}
  // .checkout__demo
  &__demo {
    font-size: toRem(18);
    color: $blueLogo;
    transition: color .3s;
    @media (any-hover: hover){
      &:hover{
        color: white;
      }
    }
  }
}

.quantity {
  // .quantity__button
  &__button {
  }
  // .quantity__button--minus
  &__button--minus {
  }
  // .quantity__input
  &__input {
    input {
      pointer-events: none;
    }
  }
  // .quantity__button--plus
  &__button--plus {
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: toRem(16);
  margin-bottom: toRem(15);
  cursor: pointer;
  // .checkbox__input
  &__input {
    width: toRem(20);
    height: toRem(20);
    
  }
  // .checkbox__label
  &__label {
  }
  // .checkbox__text
  &__text {
    line-height: normal;
    @media (max-width:$mobileSmall){
       font-size: toRem(14); 
    }
    a {
      color: $blueLogo;
      text-decoration: underline;
      text-underline-offset: toRem(3);
      transition: color .3s;
      @media (any-hover: hover){
        &:hover{
          color: white;
        }
      }
    }
  }
}


// ==========
// ====================
// ============================================
.contacts {
  background-color: #e1e1e1;
  // .contacts__container
  &__container {
    @extend %sectionPadding;
    display: grid;
    @include adaptiveValue("gap", 40, 30);
    @media (min-width:toEm(650.98)){
      grid-template-columns: repeat(2,1fr);
    }
  }
  // .contacts__more
  &__more {
  }
  // .contacts__txt
  &__txt {
    @include adaptiveValue("font-size", 18, 14);
    line-height: normal;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }
  // .contacts__mail
  &__mail {
    font-style: normal;
  }
  // .contacts__mail-title
  &__mail-title {
    color: #000;
    @include adaptiveValue("margin-bottom", 15, 10);
  }
  // .contacts__mail-e
  &__mail-e {
    font-weight: 800;
    transition: color .3s ease;
    @media (any-hover: hover){
      &:hover{
        color: $blueLogo;
      }
    }
    @include adaptiveValue("font-size", 22, 18);
  }
  // .contacts__form
  &__form {
  }
}

